<a href="https://colab.research.google.com/github/AshaS591/Data-Analytics/blob/main/Dataframe_inbuilt_functions_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Gui

In [ ]:
import pandas as pd

In [ ]:
df=pd.read_csv("https://raw.githubusercontent.com/rajeevratan84/datascienceforbusiness/master/titanic.csv")

In [ ]:
df

,pclass,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,survived
0,1,"Allen, Miss. Elisabeth Walton",female,29.0000,0,0,24160,211.3375,B5,S,1
1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500,C22 C26,S,1
2,1,"Allison, Miss. Helen Loraine",female,2.0000,1,2,113781,151.5500,C22 C26,S,0
3,1,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1,2,113781,151.5500,C22 C26,S,0
4,1,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1,2,113781,151.5500,C22 C26,S,0
...,...,...,...,...,...,...,...,...,...,...,...
1304,3,"Zabour, Miss. Hileni",female,14.5000,1,0,2665,14.4542,NaN,C,0
1305,3,"Zabour, Miss. Thamine",female,NaN,1,0,2665,14.4542,NaN,C,0
1306,3,"Zakarian, Mr. Mapriededer",male,26.5000,0,0,2656,7.2250,NaN,C,0
1307,3,"Zakarian, Mr. Ortin",male,27.0000,0,0,2670,7.2250,NaN,C,0
1308,3,"Zimmerman, Mr. Leo",male,29.0000,0,0,315082,7.8750,NaN,S,0

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1309 entries, 0 to 1308
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   pclass    1309 non-null   int64
 1   name      1309 non-null   object
 2   sex       1309 non-null   object
 3   age       1046 non-null   float64
 4   sibsp     1309 non-null   int64
 5   parch     1309 non-null   int64
 6   ticket    1309 non-null   object
 7   fare      1308 non-null   float64
 8   cabin     295 non-null    object
 9   embarked  1307 non-null   object
 10  survived  1309 non-null   int64
dtypes: float64(2), int64(4), object(5)
memory usage: 112.6+ KB

In [ ]:
df.tail()

,pclass,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,survived
1304,3,"Zabour, Miss. Hileni",female,14.5,1,0,2665,14.4542,NaN,C,0
1305,3,"Zabour, Miss. Thamine",female,NaN,1,0,2665,14.4542,NaN,C,0
1306,3,"Zakarian, Mr. Mapriededer",male,26.5,0,0,2656,7.2250,NaN,C,0
1307,3,"Zakarian, Mr. Ortin",male,27.0,0,0,2670,7.2250,NaN,C,0
1308,3,"Zimmerman, Mr. Leo",male,29.0,0,0,315082,7.8750,NaN,S,0

In [ ]:
df.head()

,pclass,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,survived
0,1,"Allen, Miss. Elisabeth Walton",female,29.0000,0,0,24160,211.3375,B5,S,1
1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500,C22 C26,S,1
2,1,"Allison, Miss. Helen Loraine",female,2.0000,1,2,113781,151.5500,C22 C26,S,0
3,1,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1,2,113781,151.5500,C22 C26,S,0
4,1,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1,2,113781,151.5500,C22 C26,S,0

In [ ]:
df.describe()

,pclass,age,sibsp,parch,fare,survived
count,1309.000000,1046.000000,1309.000000,1309.000000,1308.000000,1309.000000
mean,2.294882,29.881135,0.498854,0.385027,33.295479,0.381971
std,0.837836,14.413500,1.041658,0.865560,51.758668,0.486055
min,1.000000,0.166700,0.000000,0.000000,0.000000,0.000000
25%,2.000000,21.000000,0.000000,0.000000,7.895800,0.000000
50%,3.000000,28.000000,0.000000,0.000000,14.454200,0.000000
75%,3.000000,39.000000,1.000000,0.000000,31.275000,1.000000
max,3.000000,80.000000,8.000000,9.000000,512.329200,1.000000

In [ ]:
df.describe (include = object )

                        name   sex    ticket        cabin embarked
count                   1309  1309      1309          295     1307
unique                  1307     2       929          186        3
top     Connolly, Miss. Kate  male  CA. 2343  C23 C25 C27        S
freq                       2   843        11            6      914

In [ ]:
df.shape

(1309, 11)

In [ ]:
df.columns

Index(['pclass', 'name', 'sex', 'age', 'sibsp', 'parch', 'ticket', 'fare',
       'cabin', 'embarked', 'survived'],
      dtype='object')

In [ ]:
df['sex'].unique()

array(['female', 'male'], dtype=object)

df['Ticket '].unique ()

In [ ]:
df['ticket'].unique ()

array(['24160', '113781', '19952', '13502', '112050', '11769', 'PC 17609',
       'PC 17757', 'PC 17477', '19877', '27042', 'PC 17318', 'PC 17558',
       '11813', '13050', '11751', '111369', 'PC 17483', '13905', '11967',
       'PC 17760', '110564', '113784', '112277', '36928', '113783',
       '110489', 'PC 17608', '113505', '111427', '113054', 'PC 17591',
       '112379', 'PC 17610', '16966', '113050', '113798', 'PC 17476',
       'PC 17606', 'PC 17755', '695', '113059', '113760', '19924',
       '17770', 'W.E.P. 5734', '113806', '110152', 'PC 17594', '112051',
       '13508', '110465', '5727', 'PC 17756', '11770', '113791',
       'WE/P 5735', '112901', 'PC 17599', '113055', '113804',
       'F.C. 12750', '17474', '33638', 'PC 17761', '11755', 'PC 17485',
       'PC 17580', '11767', '36947', 'PC 17531', 'PC 17598', '17421',
       'PC 17474', '113051', '19950', '113778', 'PC 17611', '17765',
       '13568', '13567', '112058', '113803', '111320', '113503', '112378',
       'PC 17593', '17453', 'PC 17754', '113780', '112053', 'PC 17582',
       'PC 17759', '11765', 'PC 17572', '113796', '36973', '112059',
       '16988', '12749', '113038', '17463', '680', '111361', '113789',
       '111426', '19943', 'PC 17600', '113572', 'PC 17595', '694',
       '113044', '11771', '17464', '11753', '113028', '17465', 'PC 17612',
       '17475', '112377', 'PC 17592', '113501', '113801', 'PC 17569',
       '110469', '11774', '113773', 'PC 17482', 'PC 17473', 'PC 17604',
       '13509', '19928', '13236', '113787', 'PC 17596', '35273', '11752',
       '693', 'PC 17758', 'F.C. 12998', '113509', 'PC 17562', '112052',
       '113043', '113776', '113786', '19972', 'PC 17607', 'PC 17590',
       '111428', '113767', 'PC 17613', 'PC 17585', '13049', 'PC 17603',
       '113790', '19988', '111163', '113794', 'PC 17475', '13507',
       '13213', '113788', '113792', '17764', '13695', '113056', '21228',
       '13214', '113514', '11778', 'PC 17605', '36963', '17466', '110413',
       '19996', '2543', 'PC 17601', '111240', '36967', '110813', '113800',
       '35281', '113795', 'PC 17597', '113510', '19947', '113807',
       'P/PP 3381', '248744', '231945', 'C.A. 34050', '226875', '244346',
       '29108', 'C.A. 31030', '28551', 'C.A./SOTON 34068', 'S.O.P. 1166',
       '2908', '244358', '230136', '248698', '28404', '28425', '237670',
       '211535', '220367', '248733', '29750', '236853', '27849', '234686',
       '244310', '236852', '248738', 'F.C.C. 13528', '239853', '28424',
       '244252', '248731', 'SC/AH 29037', '237789', '2003', 'W./C. 14263',
       '248740', '28034', 'C.A. 31921', 'W./C. 14266', '237249',
       'F.C.C. 13534', '29107', 'C.A. 33112', 'S.O.C. 14879', '237668',
       '244360', 'SC/PARIS 2167', 'C.A. 31029', '231919', '28403',
       '28220', 'SC/PARIS 2149', 'SC/PARIS 2148', '29751', '236854',
       '236171', '2926', 'C.A. 15185', '229236', '239854', '237671',
       '239865', '28664', '243880', '31028', 'C.A. 30769', '28133',
       '28134', '248726', '233866', '12233', '250646', '250647', '250653',
       '250649', '248746', '248727', 'S.W./PP 752', 'W/C 14208',
       'F.C.C. 13529', '220845', '248706', '250650', '29105', '29104',
       '242963', '250643', '26707', '237798', '24065', 'SCO/W 1585',
       'SO/C 14885', '243847', '237565', 'C.A. 33111', 'SC/AH Basle 541',
       '244367', '226593', '233734', '223596', '219533', '239855',
       'C.A. 18723', '250651', '240261', 'SC/Paris 2123', 'SC 1748',
       'C.A. 34260', 'SC/Paris 2163', 'C.A. 29566', '235509',
       'SC/AH 3085', 'S.O./P.P. 3', '237735', 'S.C./PARIS 2079',
       'SC/A.3 2861', '28228', '239059', '237216', '233478', '250644',
       'SW/PP 751', '248723', '234360', 'C.A. 24580', '211536', '29011',
       '250655', '240276', '237736', '230080', '244368', '218629',
       'SC/PARIS 2166', 'C.A. 29395', '28213', 'W./C. 14260',
       'SC/PARIS 2146', '244278', 'SC/PARIS 2147', 'SC 14888', '230433',
       '28665', 'SC/PARIS 2131', '237393', 'S.O./P.P. 2', '234604',
       'C.A. 34644', 'SC/PARIS 2168', '26360', 'C.A. 17248', '31027',
       '230434', 'SC/PARIS 2133', '29106', 'W./C. 14258', '28004',
       'C.A. 31026', '248659', '244361', '250652', '250648', '237442',
       '234818', '28206', '31418', 'C.A. 29178', '237734', 'F.C.C. 13540',
       '248734', 'F.C.C. 13531', '233639', '240929', '34218', '11668',
       '28221', 'CA 31352', '28666', '239856', 'C.A. 33595', '27267',
       '228414', '29103', 'C.A. 34651', 'C.A. 24579', 'SC/PARIS 2159',
       '244270', '244373', '220844', '248747', 'C.A. 5547', 'C.A. 2673',
       '348125', '348122', 'SOTON/O2 3101284', '2657', 'C 7076', '341826',
       '7546', '392091', '2699', '3474', 'SOTON/O2 3101287',
       'SOTON/O.Q. 3101311', 'SOTON/O.Q. 3101312', '373450', '2223',
       'C 4001', '350046', '347082', '3101281', '347091', '350043',
       '347075', '347466', '349202', '349237', '349911',
       'SOTON/O.Q. 3101310', '347077', '350054', '2696', '2692',
       'SOTON/O.Q. 3101309', '2627', '2694', '347468', '2687', '2679',
       '3101278', '2666', 'A/4 31416', '2623', '349248', '2663', '2691',
       '330844', '324669', '323951', '347068', 'PP 4348', '2622', '2648',
       '1601', '312992', '347090', '349224', '2678', '2664', '364848',
       '364849', '54636', '334914', '347471', '3460', 'A/5 21171',
       '350045', '364512', '329944', '330920', '365222', '330963',
       '315087', '315084', '315091', '315089', '315093', '315086',
       '364846', '364858', 'A./5. 2152', '2689', '350042', '350409',
       '367231', '368364', '392095', '343275', 'A/5. 13032', '343276',
       '2680', 'SOTON/O.Q. 3101307', 'A/5 3540', '371109', '349210',
       '349209', '21332', '335097', '370373', '330972', '370369',
       'A/5 3536', '349230', '349229', '349231', 'SOTON/OQ 392090',
       'C.A. 37671', '364500', 'S.P. 3464', '371362', '315090', '2698',
       '7598', '7552', '349228', '382650', '382651', '347080', '349219',
       '349203', 'A/4 48871', 'SC/A4 23568', 'A/4 48873', '386525',
       '345572', '345774', '345778', 'C.A. 2315', '349250', '349238',
       '349225', 'A/5 21172', 'A/5 21175', '330958', '349232', '315088',
       '349226', '2686', '370376', 'A/5. 10482', '364516', '368702',
       'SOTON/OQ 392083', '349241', '336439', 'S.O./P.P. 752', '347072',
       '349912', '347074', '347061', '2674', '2675', '2690', '2695',
       'A/5 3902', '2631', 'C.A. 6212', '367232', 'SOTON/O.Q. 3101308',
       '350036', '364859', '364851', '368323', '330910', '365235',
       'W./C. 6608', 'A/5 1478', '368573', 'SOTON/O.Q. 3101314', '36864',
       '358585', '349254', '14973', '35851', '335677', '363291',
       'SOTON/O.Q. 3101263', 'SOTON/O.Q. 3101306', 'CA 2144', '21440',
       '8471', '376563', '7534', '3101276', '3101277', '347069', '349236',
       'AQ/3. 30631', '65303', '65304', 'STON/O2. 3101279', '345769',
       '2693', '350026', '350025', '350029', 'W./C. 6609', '374887',
       '394140', '370375', '347089', '365226', 'STON/O2. 3101282',
       'STON/O2. 3101290', '7548', '349243', '347086', '382649',
       '3101298', 'C 7075', 'STON/O2. 3101283', '370377', 'A. 2. 39186',
       '348121', '3470', '2685', '349220', 'STON/O2. 3101270',
       'STON/O2. 3101271', '349201', '349240', '350034',
       'SOTON/O.Q. 3101305', '350050', '350047', '350048', '14313',
       '65306', '3101264', '347070', '350052', '7540', '347063', '347467',
       '347742', 'LINE', '347062', 'W./C. 6607', '349204', '350417',
       '350408', '4136', '4137', 'STON/O 2. 3101286', 'STON/O 2. 3101274',
       '8475', '349246', '350053', '347465', '350060', '349256', '2700',
       '2682', '12460', '323592', '9234', '14312', '330911', '363592',
       '368783', '2660', '367227', '367229', '36865', '315152', '315151',
       '315153', '350405', '350404', '349253', '2654', '2624', '4135',
       '349217', 'C 7077', '7935', '7545', '347067', '347065', '2620',
       '4133', 'STON/O 2. 3101292', '2683', '370371', '345781', '347071',
       '347073', '349910', 'STON/O 2. 3101285', '330971', 'S.O./P.P. 251',
       'A/5. 3336', '1222', 'A/5 21173', '315098', '347743', '347469',
       '350403', '349235', 'C.A. 42795', '370370', 'C 17369',
       'STON/O 2. 3101275', '330924', 'AQ/4 3130', 'A/S 2816',
       'STON/O 2. 3101268', '2677', '364850', '36866', '2655', '349213',
       '349257', '2649', '349255', '383123', '367228', '367226', '330932',
       '36568', '330931', '330923', '9232', '370372', '376566', '370368',
       'SOTON/O.Q. 392087', '343095', 'A.5. 11206', '368703', '345501',
       '359306', '349233', '349211', '349207', '349221', '330980',
       '348123', '392096', 'A4. 54510', '371110', '330877', '364506',
       '372622', '312991', '2661', '2626', '374746', '35852', '382653',
       'A./5. 3235', '367230', '347078', '349206', '2667', '2653',
       'A./5. 3338', '349218', '2652', '365237', '349234', '2651',
       '3101297', '363611', '347066', '347470', '350410',
       'SOTON/O2 3101272', 'STON/O 2. 3101289', 'A/4. 39886', '2697',
       '347081', '345364', '370365', '330979', '334912', '371060',
       '366713', '7267', '364856', '14311', '330959', '347085', '368402',
       '330919', 'C 17368', '4579', 'Fa 265302', '350407', '347464',
       '347079', '6563', '315085', '315096', '315094', '349244', '330909',
       '349909', '3101295', '315097', '3411', '349242',
       'SOTON/O.Q. 3101315', '343271', '345498', 'A/5 2817',
       'STON/O 2. 3101294', 'STON/O 2. 3101291', 'A/5 21174', '347083',
       '2668', '330935', '342441', '349245', '349212', '349215', '347076',
       '347087', 'SOTON/O.Q. 392078', '349227', '315095', '315092',
       '349223', '65305', '2629', '362316', '349249', '342684', '382652',
       'STON/O 2. 3101273', '334915', '364498', 'A/5. 3337',
       'S.C./A.4. 23567', '312993', '370129', '342712', 'A/5 3594',
       'A/4. 20589', '383162', '2671', '2672', '2676', '367655',
       'LP 1588', 'SOTON/O.Q. 3101262', 'CA. 2343', '7266', '343120',
       '3101296', '2662', 'PP 9549', '345768', 'A/5. 2151', '342826',
       '36209', '349222', '370374', '345779', '330968', '374910',
       'SOTON/OQ 392082', '2669', '392092', '349251', 'STON/O 2. 3101280',
       '3101265', '347088', '349214', 'SOTON/OQ 392086', '315037',
       '384461', '335432', '348124', 'A.5. 18509', 'A.5. 3236',
       'STON/OQ. 369943', '349208', '349239', 'CA. 2314', 'A/4 45380',
       '3701', '349205', '7553', 'STON/O 2. 3101288', '315083', '347054',
       'SOTON/OQ 392089', 'STON/O 2. 3101269', 'SOTON/OQ 392076',
       '347060', '7538', '350035', '350033', '363294', '2625', '2621',
       '2681', '2684', '32302', '376564', 'STON/O 2. 3101293', '383121',
       '349216', '364499', '364511', '2673', '2641', '2650', '349247',
       '4138', '4134', 'A/5. 851', '345773', '345777', '345780', '345770',
       '345783', '345765', '345764', '345763', '2658', '350416', '350406',
       '349252', '345767', '359309', 'C.A. 49867', 'SOTON/OQ 3101316',
       '345775', '2688', '347064', '3101267', '3101266', '363272', '3410',
       'S.O./P.P. 751', 'A/5 2466', 'SOTON/OQ 3101317', '315154',
       'A/4. 34244', '345771', '2659', '2628', '2647', '2665', '2656',
       '2670', '315082'], dtype=object)

In [ ]:
df['sex'].value_counts()

sex
male      843
female    466
Name: count, dtype: int64

In [ ]:
df['ticket'].value_counts()

ticket
CA. 2343    11
1601         8
CA 2144      8
PC 17608     7
347077       7
            ..
373450       1
2223         1
350046       1
3101281      1
315082       1
Name: count, Length: 929, dtype: int64

In [ ]:
df['cabin'].value_counts()

cabin
C23 C25 C27        6
G6                 5
B57 B59 B63 B66    5
F4                 4
F33                4
                  ..
C132               1
E60                1
B52 B54 B56        1
C49                1
F38                1
Name: count, Length: 186, dtype: int64

In [ ]:
text=df.to_csv('/content/titanic.txt')

In [ ]:
df.columns

Index(['pclass', 'name', 'sex', 'age', 'sibsp', 'parch', 'ticket', 'fare',
       'cabin', 'embarked', 'survived'],
      dtype='object')

In [ ]:
df.loc[::5,'cabin']

0            B5
5           E12
10      C62 C64
15          NaN
20          D35
         ...
1285        NaN
1290        NaN
1295        NaN
1300        NaN
1305        NaN
Name: cabin, Length: 262, dtype: object

In [ ]:
df.loc[1:10,['name',"cabin","age"]]

                                               name    cabin      age
1                    Allison, Master. Hudson Trevor  C22 C26   0.9167
2                      Allison, Miss. Helen Loraine  C22 C26   2.0000
3              Allison, Mr. Hudson Joshua Creighton  C22 C26  30.0000
4   Allison, Mrs. Hudson J C (Bessie Waldo Daniels)  C22 C26  25.0000
5                               Anderson, Mr. Harry      E12  48.0000
6                 Andrews, Miss. Kornelia Theodosia       D7  63.0000
7                            Andrews, Mr. Thomas Jr      A36  39.0000
8     Appleton, Mrs. Edward Dale (Charlotte Lamson)     C101  53.0000
9                           Artagaveytia, Mr. Ramon      NaN  71.0000
10                           Astor, Col. John Jacob  C62 C64  47.0000

In [ ]:
df.loc[[1,20,30,50],['name','fare','cabin','sibsp']]

,name,fare,cabin,sibsp
1,"Allison, Master. Hudson Trevor",151.5500,C22 C26,1
20,"Beckwith, Mr. Richard Leonard",52.5542,D35,1
30,"Blackwell, Mr. Stephen Weart",35.5000,T,0
50,"Cardeza, Mrs. James Warburton Martinez (Charlo...",512.3292,B51 B53 B55,0

In [ ]:
df.loc[[10,200,300,500],['name','fare','sex','sibsp']]

                             name      fare   sex  sibsp
10         Astor, Col. John Jacob  227.5250  male      1
200  McCaffry, Mr. Thomas Francis   75.2417  male      0
300     Van der hoef, Mr. Wyckoff   33.5000  male      0
500       McKane, Mr. Peter David   26.0000  male      0

In [ ]:
df.iloc[1:10,0:6]

,pclass,name,sex,age,sibsp,parch
1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2
2,1,"Allison, Miss. Helen Loraine",female,2.0000,1,2
3,1,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1,2
4,1,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1,2
5,1,"Anderson, Mr. Harry",male,48.0000,0,0
6,1,"Andrews, Miss. Kornelia Theodosia",female,63.0000,1,0
7,1,"Andrews, Mr. Thomas Jr",male,39.0000,0,0
8,1,"Appleton, Mrs. Edward Dale (Charlotte Lamson)",female,53.0000,2,0
9,1,"Artagaveytia, Mr. Ramon",male,71.0000,0,0

In [ ]:
df.iloc[1:10,::2]

   pclass     sex  sibsp    ticket    cabin  survived
1       1    male      1    113781  C22 C26         1
2       1  female      1    113781  C22 C26         0
3       1    male      1    113781  C22 C26         0
4       1  female      1    113781  C22 C26         0
5       1    male      0     19952      E12         1
6       1  female      1     13502       D7         1
7       1    male      0    112050      A36         0
8       1  female      2     11769     C101         1
9       1    male      0  PC 17609      NaN         0

In [ ]:
df.iloc[1:101,::-1]

,survived,embarked,cabin,fare,ticket,parch,sibsp,age,sex,name,pclass
1,1,S,C22 C26,151.5500,113781,2,1,0.9167,male,"Allison, Master. Hudson Trevor",1
2,0,S,C22 C26,151.5500,113781,2,1,2.0000,female,"Allison, Miss. Helen Loraine",1
3,0,S,C22 C26,151.5500,113781,2,1,30.0000,male,"Allison, Mr. Hudson Joshua Creighton",1
4,0,S,C22 C26,151.5500,113781,2,1,25.0000,female,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",1
5,1,S,E12,26.5500,19952,0,0,48.0000,male,"Anderson, Mr. Harry",1
...,...,...,...,...,...,...,...,...,...,...,...
96,0,C,C86,106.4250,PC 17761,0,1,50.0000,male,"Douglas, Mr. Walter Donald",1
97,1,C,B58 B60,247.5208,PC 17558,1,1,27.0000,female,"Douglas, Mrs. Frederick Charles (Mary Helene B...",1
98,1,C,C86,106.4250,PC 17761,0,1,48.0000,female,"Douglas, Mrs. Walter Donald (Mahala Dutton)",1
99,1,C,A16,39.6000,11755,0,1,48.0000,female,"Duff Gordon, Lady. (Lucille Christiana Sutherl...",1
100,1,C,A20,56.9292,PC 17485,0,1,49.0000,male,"Duff Gordon, Sir. Cosmo Edmund (""Mr Morgan"")",1

In [ ]:
df.iloc[::2,::-1]

,survived,embarked,cabin,fare,ticket,parch,sibsp,age,sex,name,pclass
0,1,S,B5,211.3375,24160,0,0,29.0,female,"Allen, Miss. Elisabeth Walton",1
2,0,S,C22 C26,151.5500,113781,2,1,2.0,female,"Allison, Miss. Helen Loraine",1
4,0,S,C22 C26,151.5500,113781,2,1,25.0,female,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",1
6,1,S,D7,77.9583,13502,0,1,63.0,female,"Andrews, Miss. Kornelia Theodosia",1
8,1,S,C101,51.4792,11769,0,2,53.0,female,"Appleton, Mrs. Edward Dale (Charlotte Lamson)",1
...,...,...,...,...,...,...,...,...,...,...,...
1300,1,C,NaN,14.4542,2659,0,1,15.0,female,"Yasbeck, Mrs. Antoni (Selini Alexander)",3
1302,0,C,NaN,7.2250,2647,0,0,NaN,male,"Yousif, Mr. Wazli",3
1304,0,C,NaN,14.4542,2665,0,1,14.5,female,"Zabour, Miss. Hileni",3
1306,0,C,NaN,7.2250,2656,0,0,26.5,male,"Zakarian, Mr. Mapriededer",3
1308,0,S,NaN,7.8750,315082,0,0,29.0,male,"Zimmerman, Mr. Leo",3

# To fetch data from specific columns using iloc **variable**

In [ ]:
df.iloc[::2,[2,3,5,6]]

         sex   age  parch  ticket
0     female  29.0      0   24160
2     female   2.0      2  113781
4     female  25.0      2  113781
6     female  63.0      0   13502
8     female  53.0      0   11769
...      ...   ...    ...     ...
1300  female  15.0      0    2659
1302    male   NaN      0    2647
1304  female  14.5      0    2665
1306    male  26.5      0    2656
1308    male  29.0      0  315082

[655 rows x 4 columns]

# To fetch data from specific rows using iloc **variable**

In [ ]:
df.iloc[[1,4,5],[2,3,4]]

      sex      age  sibsp
1    male   0.9167      1
4  female  25.0000      1
5    male  48.0000      0

#1.fetch data

In [ ]:
df.loc[1:100,['name','age','cabin','embarked']]

,name,age,cabin,embarked
1,"Allison, Master. Hudson Trevor",0.9167,C22 C26,S
2,"Allison, Miss. Helen Loraine",2.0000,C22 C26,S
3,"Allison, Mr. Hudson Joshua Creighton",30.0000,C22 C26,S
4,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",25.0000,C22 C26,S
5,"Anderson, Mr. Harry",48.0000,E12,S
...,...,...,...,...
96,"Douglas, Mr. Walter Donald",50.0000,C86,C
97,"Douglas, Mrs. Frederick Charles (Mary Helene B...",27.0000,B58 B60,C
98,"Douglas, Mrs. Walter Donald (Mahala Dutton)",48.0000,C86,C
99,"Duff Gordon, Lady. (Lucille Christiana Sutherl...",48.0000,A16,C
100,"Duff Gordon, Sir. Cosmo Edmund (""Mr Morgan"")",49.0000,A20,C

In [ ]:
df.loc[0:891:2,['survived','sex','pclass']]

     survived     sex  pclass
0           1  female       1
2           0  female       1
4           0  female       1
6           1  female       1
8           1  female       1
..        ...     ...     ...
882         0    male       3
884         0    male       3
886         1  female       3
888         0    male       3
890         0    male       3

[446 rows x 3 columns]

In [ ]:
df.loc[1::2,['age','name','pclass','cabin']]

          age                                  name  pclass    cabin
1      0.9167        Allison, Master. Hudson Trevor       1  C22 C26
3     30.0000  Allison, Mr. Hudson Joshua Creighton       1  C22 C26
5     48.0000                   Anderson, Mr. Harry       1      E12
7     39.0000                Andrews, Mr. Thomas Jr       1      A36
9     71.0000               Artagaveytia, Mr. Ramon       1      NaN
...       ...                                   ...     ...      ...
1299  27.0000                   Yasbeck, Mr. Antoni       3      NaN
1301  45.5000                  Youseff, Mr. Gerious       3      NaN
1303      NaN                 Yousseff, Mr. Gerious       3      NaN
1305      NaN                 Zabour, Miss. Thamine       3      NaN
1307  27.0000                   Zakarian, Mr. Ortin       3      NaN

[654 rows x 4 columns]

In [ ]:
df.iloc[::-1,::-1]

,survived,embarked,cabin,fare,ticket,parch,sibsp,age,sex,name,pclass
1308,0,S,NaN,7.8750,315082,0,0,29.0000,male,"Zimmerman, Mr. Leo",3
1307,0,C,NaN,7.2250,2670,0,0,27.0000,male,"Zakarian, Mr. Ortin",3
1306,0,C,NaN,7.2250,2656,0,0,26.5000,male,"Zakarian, Mr. Mapriededer",3
1305,0,C,NaN,14.4542,2665,0,1,NaN,female,"Zabour, Miss. Thamine",3
1304,0,C,NaN,14.4542,2665,0,1,14.5000,female,"Zabour, Miss. Hileni",3
...,...,...,...,...,...,...,...,...,...,...,...
4,0,S,C22 C26,151.5500,113781,2,1,25.0000,female,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",1
3,0,S,C22 C26,151.5500,113781,2,1,30.0000,male,"Allison, Mr. Hudson Joshua Creighton",1
2,0,S,C22 C26,151.5500,113781,2,1,2.0000,female,"Allison, Miss. Helen Loraine",1
1,1,S,C22 C26,151.5500,113781,2,1,0.9167,male,"Allison, Master. Hudson Trevor",1
0,1,S,B5,211.3375,24160,0,0,29.0000,female,"Allen, Miss. Elisabeth Walton",1

In [ ]:
df.iloc[::2,1::3]

,name,sibsp,fare,survived
0,"Allen, Miss. Elisabeth Walton",0,211.3375,1
2,"Allison, Miss. Helen Loraine",1,151.5500,0
4,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",1,151.5500,0
6,"Andrews, Miss. Kornelia Theodosia",1,77.9583,1
8,"Appleton, Mrs. Edward Dale (Charlotte Lamson)",2,51.4792,1
...,...,...,...,...
1300,"Yasbeck, Mrs. Antoni (Selini Alexander)",1,14.4542,1
1302,"Yousif, Mr. Wazli",0,7.2250,0
1304,"Zabour, Miss. Hileni",1,14.4542,0
1306,"Zakarian, Mr. Mapriededer",0,7.2250,0
1308,"Zimmerman, Mr. Leo",0,7.8750,0

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1309 entries, 0 to 1308
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   pclass    1309 non-null   int64
 1   name      1309 non-null   object
 2   sex       1309 non-null   object
 3   age       1046 non-null   float64
 4   sibsp     1309 non-null   int64
 5   parch     1309 non-null   int64
 6   ticket    1309 non-null   object
 7   fare      1308 non-null   float64
 8   cabin     295 non-null    object
 9   embarked  1307 non-null   object
 10  survived  1309 non-null   int64
dtypes: float64(2), int64(4), object(5)
memory usage: 112.6+ KB

In [ ]:
df.info()
df.iloc[1000:1:-1,[2,3,4,5]]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1309 entries, 0 to 1308
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   pclass    1309 non-null   int64
 1   name      1309 non-null   object
 2   sex       1309 non-null   object
 3   age       1046 non-null   float64
 4   sibsp     1309 non-null   int64
 5   parch     1309 non-null   int64
 6   ticket    1309 non-null   object
 7   fare      1308 non-null   float64
 8   cabin     295 non-null    object
 9   embarked  1307 non-null   object
 10  survived  1309 non-null   int64
dtypes: float64(2), int64(4), object(5)
memory usage: 112.6+ KB

         sex   age  sibsp  parch
1000    male   NaN      0      0
999   female   NaN      0      0
998     male   NaN      0      0
997   female   NaN      0      0
996     male  33.0      0      0
...      ...   ...    ...    ...
6     female  63.0      1      0
5       male  48.0      0      0
4     female  25.0      1      2
3       male  30.0      1      2
2     female   2.0      1      2

[999 rows x 4 columns]

In [ ]:
df[df['sex']=='female']

,pclass,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,survived
0,1,"Allen, Miss. Elisabeth Walton",female,29.0,0,0,24160,211.3375,B5,S,1
2,1,"Allison, Miss. Helen Loraine",female,2.0,1,2,113781,151.5500,C22 C26,S,0
4,1,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0,1,2,113781,151.5500,C22 C26,S,0
6,1,"Andrews, Miss. Kornelia Theodosia",female,63.0,1,0,13502,77.9583,D7,S,1
8,1,"Appleton, Mrs. Edward Dale (Charlotte Lamson)",female,53.0,2,0,11769,51.4792,C101,S,1
...,...,...,...,...,...,...,...,...,...,...,...
1286,3,"Whabee, Mrs. George Joseph (Shawneene Abi-Saab)",female,38.0,0,0,2688,7.2292,NaN,C,1
1290,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S,1
1300,3,"Yasbeck, Mrs. Antoni (Selini Alexander)",female,15.0,1,0,2659,14.4542,NaN,C,1
1304,3,"Zabour, Miss. Hileni",female,14.5,1,0,2665,14.4542,NaN,C,0
1305,3,"Zabour, Miss. Thamine",female,NaN,1,0,2665,14.4542,NaN,C,0

In [ ]:
df[df['age']>25]

,pclass,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,survived
0,1,"Allen, Miss. Elisabeth Walton",female,29.0,0,0,24160,211.3375,B5,S,1
3,1,"Allison, Mr. Hudson Joshua Creighton",male,30.0,1,2,113781,151.5500,C22 C26,S,0
5,1,"Anderson, Mr. Harry",male,48.0,0,0,19952,26.5500,E12,S,1
6,1,"Andrews, Miss. Kornelia Theodosia",female,63.0,1,0,13502,77.9583,D7,S,1
7,1,"Andrews, Mr. Thomas Jr",male,39.0,0,0,112050,0.0000,A36,S,0
...,...,...,...,...,...,...,...,...,...,...,...
1299,3,"Yasbeck, Mr. Antoni",male,27.0,1,0,2659,14.4542,NaN,C,0
1301,3,"Youseff, Mr. Gerious",male,45.5,0,0,2628,7.2250,NaN,C,0
1306,3,"Zakarian, Mr. Mapriededer",male,26.5,0,0,2656,7.2250,NaN,C,0
1307,3,"Zakarian, Mr. Ortin",male,27.0,0,0,2670,7.2250,NaN,C,0
1308,3,"Zimmerman, Mr. Leo",male,29.0,0,0,315082,7.8750,NaN,S,0

In [ ]:
df[(df['age']>50) & (df['survived']==1)]

,pclass,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,survived
6,1,"Andrews, Miss. Kornelia Theodosia",female,63.0,1,0,13502,77.9583,D7,S,1
8,1,"Appleton, Mrs. Edward Dale (Charlotte Lamson)",female,53.0,2,0,11769,51.4792,C101,S,1
14,1,"Barkworth, Mr. Algernon Henry Wilson",male,80.0,0,0,27042,30.0000,A23,S,1
33,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S,1
42,1,"Brown, Mrs. John Murray (Caroline Lane Lamson)",female,59.0,2,0,11769,51.4792,C101,S,1
43,1,"Bucknell, Mrs. William Robert (Emma Eliza Ward)",female,60.0,0,0,11813,76.2917,D15,C,1
48,1,"Candee, Mrs. Edward (Helen Churchill Hungerford)",female,53.0,0,0,PC 17606,27.4458,NaN,C,1
50,1,"Cardeza, Mrs. James Warburton Martinez (Charlo...",female,58.0,0,1,PC 17755,512.3292,B51 B53 B55,C,1
61,1,"Cavendish, Mrs. Tyrell William (Julia Florence...",female,76.0,1,0,19877,78.8500,C46,S,1
78,1,"Compton, Mrs. Alexander Taylor (Mary Eliza Ing...",female,64.0,0,2,PC 17756,83.1583,E45,C,1
79,1,"Cornell, Mrs. Robert Clifford (Malvina Helen L...",female,55.0,2,0,11770,25.7000,C101,S,1
83,1,"Crosby, Mrs. Edward Gifford (Catherine Elizabe...",female,64.0,1,1,112901,26.5500,B26,S,1
86,1,"Daly, Mr. Peter Denis",male,51.0,0,0,113055,26.5500,E17,S,1
93,1,"Dodge, Dr. Washington",male,53.0,1,1,33638,81.8583,A34,S,1
95,1,"Dodge, Mrs. Washington (Ruth Vidaver)",female,54.0,1,1,33638,81.8583,A34,S,1
104,1,"Eustis, Miss. Elizabeth Mussey",female,54.0,1,0,36947,78.2667,D20,C,1
116,1,"Fortune, Mrs. Mark (Mary McDougald)",female,60.0,1,4,19950,263.0000,C23 C25 C27,S,1
123,1,"Frolicher-Stehli, Mr. Maxmillian",male,60.0,1,1,13567,79.2000,B41,C,1
136,1,"Gracie, Col. Archibald IV",male,53.0,0,0,113780,28.5000,C51,C,1
139,1,"Graham, Mrs. William Thompson (Edith Junkins)",female,58.0,0,1,PC 17582,153.4625,C125,S,1
155,1,"Hays, Mrs. Charles Melville (Clara Jennings Gr...",female,52.0,1,1,12749,93.5000,B69,S,1
161,1,"Hogeboom, Mrs. John C (Anna Andrews)",female,51.0,1,0,13502,77.9583,D11,S,1
186,1,"Lindstrom, Mrs. Carl Johan (Sigrid Posse)",female,55.0,0,0,112377,27.7208,NaN,C,1
188,1,"Lines, Mrs. Ernest H (Elizabeth Lindsey James)",female,51.0,0,1,PC 17592,39.4000,D28,S,1
192,1,"Lurette, Miss. Elise",female,58.0,0,0,PC 17569,146.5208,B80,C,1
231,1,"Peuchen, Major. Arthur Godfrey",male,52.0,0,0,113786,30.5000,C104,S,1
233,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C,1
247,1,"Rothschild, Mrs. Martin (Elizabeth L. Barrett)",female,54.0,1,0,PC 17603,59.4000,NaN,C,1
264,1,"Simonius-Blumer, Col. Oberst Alfons",male,56.0,0,0,13213,35.5000,A26,C,1
280,1,"Stengel, Mr. Charles Emil Henry",male,54.0,1,0,11778,55.4417,C116,C,1
282,1,"Stephenson, Mrs. Walter Bertram (Martha Eustis)",female,52.0,1,0,36947,78.2667,D20,C,1
284,1,"Stone, Mrs. George Nelson (Martha Evelyn)",female,62.0,0,0,113572,80.0000,B28,NaN,1
304,1,"Warren, Mrs. Frank Manley (Anna Sophia Atkinson)",female,60.0,1,0,110813,75.2500,D37,C,1
308,1,"White, Mrs. John Stuart (Ella Holmes)",female,55.0,0,0,PC 17760,135.6333,C32,C,1
432,2,"Harris, Mr. George",male,62.0,0,0,S.W./PP 752,10.5000,NaN,S,1
441,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706,16.0000,NaN,S,1
449,2,"Hocking, Mrs. Elizabeth (Eliza Needs)",female,54.0,1,3,29105,23.0000,NaN,S,1
1261,3,"Turkula, Mrs. (Hedwig)",female,63.0,0,0,4134,9.5875,NaN,S,1

In [ ]:
df[(df['pclass']==1) | (df['pclass']==2) ]

,pclass,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,survived
0,1,"Allen, Miss. Elisabeth Walton",female,29.0000,0,0,24160,211.3375,B5,S,1
1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500,C22 C26,S,1
2,1,"Allison, Miss. Helen Loraine",female,2.0000,1,2,113781,151.5500,C22 C26,S,0
3,1,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1,2,113781,151.5500,C22 C26,S,0
4,1,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1,2,113781,151.5500,C22 C26,S,0
...,...,...,...,...,...,...,...,...,...,...,...
595,2,"Wheeler, Mr. Edwin ""Frederick""",male,NaN,0,0,SC/PARIS 2159,12.8750,NaN,S,0
596,2,"Wilhelms, Mr. Charles",male,31.0000,0,0,244270,13.0000,NaN,S,1
597,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13.0000,NaN,S,1
598,2,"Wright, Miss. Marion",female,26.0000,0,0,220844,13.5000,NaN,S,1
599,2,"Yrois, Miss. Henriette (""Mrs Harbeck"")",female,24.0000,0,0,248747,13.0000,NaN,S,0

In [ ]:
df[(df['survived']==0) & (df['age']<20) & (df['embarked']=='S')]

,pclass,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,survived
2,1,"Allison, Miss. Helen Loraine",female,2.0,1,2,113781,151.5500,C22 C26,S,0
53,1,"Carrau, Mr. Jose Pedro",male,17.0,0,0,113059,47.1000,NaN,S,0
114,1,"Fortune, Mr. Charles Alexander",male,19.0,3,2,19950,263.0000,C23 C25 C27,S,0
197,1,"Marvin, Mr. Daniel Warner",male,19.0,1,0,113773,53.1000,D30,S,0
326,2,"Andrew, Mr. Edgardo Samuel",male,18.0,0,0,231945,11.5000,NaN,S,0
...,...,...,...,...,...,...,...,...,...,...,...
1265,3,"Van Impe, Miss. Catharina",female,10.0,0,2,345773,24.1500,NaN,S,0
1273,3,"Vander Planke, Miss. Augusta Maria",female,18.0,2,0,345764,18.0000,NaN,S,0
1275,3,"Vander Planke, Mr. Leo Edmondus",male,16.0,2,0,345764,18.0000,NaN,S,0
1279,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,0,0,350406,7.8542,NaN,S,0
1288,3,"Wiklund, Mr. Jakob Alfred",male,18.0,1,0,3101267,6.4958,NaN,S,0

In [ ]:
df[(df['pclass']==3) & (df['survived']==1)]

,pclass,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,survived
603,3,"Abbott, Mrs. Stanton (Rosa Hunt)",female,35.0,1,1,C.A. 2673,20.2500,NaN,S,1
604,3,"Abelseth, Miss. Karen Marie",female,16.0,0,0,348125,7.6500,NaN,S,1
605,3,"Abelseth, Mr. Olaus Jorgensen",male,25.0,0,0,348122,7.6500,F G63,S,1
606,3,"Abrahamsson, Mr. Abraham August Johannes",male,20.0,0,0,SOTON/O2 3101284,7.9250,NaN,S,1
607,3,"Abrahim, Mrs. Joseph (Sophie Halaut Easu)",female,18.0,0,0,2657,7.2292,NaN,C,1
...,...,...,...,...,...,...,...,...,...,...,...
1261,3,"Turkula, Mrs. (Hedwig)",female,63.0,0,0,4134,9.5875,NaN,S,1
1277,3,"Vartanian, Mr. David",male,22.0,0,0,2658,7.2250,NaN,C,1
1286,3,"Whabee, Mrs. George Joseph (Shawneene Abi-Saab)",female,38.0,0,0,2688,7.2292,NaN,C,1
1290,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S,1
1300,3,"Yasbeck, Mrs. Antoni (Selini Alexander)",female,15.0,1,0,2659,14.4542,NaN,C,1

In [ ]:
df[(df['sibsp']>=1)]

,pclass,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,survived
1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500,C22 C26,S,1
2,1,"Allison, Miss. Helen Loraine",female,2.0000,1,2,113781,151.5500,C22 C26,S,0
3,1,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1,2,113781,151.5500,C22 C26,S,0
4,1,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1,2,113781,151.5500,C22 C26,S,0
6,1,"Andrews, Miss. Kornelia Theodosia",female,63.0000,1,0,13502,77.9583,D7,S,1
...,...,...,...,...,...,...,...,...,...,...,...
1290,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0000,1,0,363272,7.0000,NaN,S,1
1299,3,"Yasbeck, Mr. Antoni",male,27.0000,1,0,2659,14.4542,NaN,C,0
1300,3,"Yasbeck, Mrs. Antoni (Selini Alexander)",female,15.0000,1,0,2659,14.4542,NaN,C,1
1304,3,"Zabour, Miss. Hileni",female,14.5000,1,0,2665,14.4542,NaN,C,0
1305,3,"Zabour, Miss. Thamine",female,NaN,1,0,2665,14.4542,NaN,C,0

In [ ]:
df[(df['sex']=='male') & (df['age']>60) & (df['embarked']=='Q') &(df['survived']==1)]

Empty DataFrame
Columns: [pclass, name, sex, age, sibsp, parch, ticket, fare, cabin, embarked, survived]
Index: []

In [ ]:
df1=pd.read_csv('https://raw.githubusercontent.com/rajeevratan84/datascienceforbusiness/master/hr_data.csv')

In [ ]:
df1

,employee_id,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,department,salary
0,1003,2,157,3,0,1,0,sales,low
1,1005,5,262,6,0,1,0,sales,medium
2,1486,7,272,4,0,1,0,sales,medium
3,1038,5,223,5,0,1,0,sales,low
4,1057,2,159,3,0,1,0,sales,low
...,...,...,...,...,...,...,...,...,...
14994,87670,2,151,3,0,1,0,support,low
14995,87673,2,160,3,0,1,0,support,low
14996,87679,2,143,3,0,1,0,support,low
14997,87681,6,280,4,0,1,0,support,low
14998,87684,2,158,3,0,1,0,support,low

In [ ]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14999 entries, 0 to 14998
Data columns (total 9 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   employee_id            14999 non-null  int64
 1   number_project         14999 non-null  int64
 2   average_montly_hours   14999 non-null  int64
 3   time_spend_company     14999 non-null  int64
 4   Work_accident          14999 non-null  int64
 5   left                   14999 non-null  int64
 6   promotion_last_5years  14999 non-null  int64
 7   department             14999 non-null  object
 8   salary                 14999 non-null  object
dtypes: int64(7), object(2)
memory usage: 1.0+ MB

In [ ]:
df1[(df1['department']=='sales') | (df1['department']=='accounting')]

,employee_id,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,department,salary
0,1003,2,157,3,0,1,0,sales,low
1,1005,5,262,6,0,1,0,sales,medium
2,1486,7,272,4,0,1,0,sales,medium
3,1038,5,223,5,0,1,0,sales,low
4,1057,2,159,3,0,1,0,sales,low
...,...,...,...,...,...,...,...,...,...
14970,87530,4,225,5,0,1,0,sales,medium
14971,87533,2,140,3,0,1,0,sales,medium
14972,87539,6,310,4,0,1,0,accounting,medium
14973,7745,2,143,3,0,1,0,accounting,medium
14974,87545,2,153,3,0,1,0,accounting,medium

In [ ]:
df1[(df1['department']=='IT') & (df1['left']==1) ]

,employee_id,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,department,salary
61,1399,7,308,4,0,1,0,IT,medium
62,1404,6,244,5,0,1,0,IT,medium
63,1413,2,132,3,0,1,0,IT,medium
64,42423,6,286,4,0,1,0,IT,medium
65,1424,6,161,4,0,1,0,IT,medium
...,...,...,...,...,...,...,...,...,...
14930,87284,6,268,4,0,1,0,IT,medium
14931,87288,5,240,5,0,1,0,IT,medium
14932,87294,2,127,3,0,1,0,IT,medium
14933,87308,7,264,4,0,1,0,IT,medium
14938,45511,4,271,5,0,1,0,IT,medium

In [ ]:
df1[(df1['number_project']>5)]

,employee_id,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,department,salary
2,1486,7,272,4,0,1,0,sales,medium
6,1061,6,247,4,0,1,0,sales,low
11,1088,6,305,4,0,1,0,sales,low
20,1148,6,282,4,0,1,0,sales,low
22,1158,6,304,4,0,1,0,sales,low
...,...,...,...,...,...,...,...,...,...
14975,87560,7,310,4,0,1,0,hr,medium
14979,87581,6,296,4,0,1,0,technical,medium
14991,87654,6,257,4,0,1,0,support,low
14993,87661,6,293,6,0,1,0,support,low
14997,87681,6,280,4,0,1,0,support,low

In [ ]:
df1[(df1['promotion_last_5years']==1) & (df1['department']=='accounting')]

,employee_id,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,department,salary
4506,26744,5,135,2,0,0,1,accounting,medium
4734,27917,4,167,3,0,0,1,accounting,high
5038,9960,5,192,3,0,0,1,accounting,medium
5524,32520,5,171,6,1,0,1,accounting,high
5525,73111,4,232,3,0,0,1,accounting,high
5526,73511,5,172,2,0,0,1,accounting,high
11213,65762,5,176,6,0,0,1,accounting,medium
11214,65764,5,264,8,0,0,1,accounting,high
11215,65770,3,261,8,0,0,1,accounting,low
11400,66768,3,150,4,0,0,1,accounting,medium
13424,78430,5,176,6,0,0,1,accounting,medium
13425,78435,5,264,8,0,0,1,accounting,high
13426,78445,3,261,8,0,0,1,accounting,low
13611,79510,3,150,4,0,0,1,accounting,medium

In [ ]:
df1[(df1['salary']=='low') | (df1['salary']=='medium')]

,employee_id,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,department,salary
0,1003,2,157,3,0,1,0,sales,low
1,1005,5,262,6,0,1,0,sales,medium
2,1486,7,272,4,0,1,0,sales,medium
3,1038,5,223,5,0,1,0,sales,low
4,1057,2,159,3,0,1,0,sales,low
...,...,...,...,...,...,...,...,...,...
14994,87670,2,151,3,0,1,0,support,low
14995,87673,2,160,3,0,1,0,support,low
14996,87679,2,143,3,0,1,0,support,low
14997,87681,6,280,4,0,1,0,support,low
14998,87684,2,158,3,0,1,0,support,low

In [ ]:
df[df['fare'].isnull()]

,pclass,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,survived
1225,3,"Storey, Mr. Thomas",male,60.5,0,0,3701,NaN,NaN,S,0

In [ ]:
df.info()
df[df['sex'].notnull()]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1309 entries, 0 to 1308
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   pclass    1309 non-null   int64
 1   name      1309 non-null   object
 2   sex       1309 non-null   object
 3   age       1046 non-null   float64
 4   sibsp     1309 non-null   int64
 5   parch     1309 non-null   int64
 6   ticket    1309 non-null   object
 7   fare      1308 non-null   float64
 8   cabin     295 non-null    object
 9   embarked  1307 non-null   object
 10  survived  1309 non-null   int64
dtypes: float64(2), int64(4), object(5)
memory usage: 112.6+ KB

,pclass,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,survived
0,1,"Allen, Miss. Elisabeth Walton",female,29.0000,0,0,24160,211.3375,B5,S,1
1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500,C22 C26,S,1
2,1,"Allison, Miss. Helen Loraine",female,2.0000,1,2,113781,151.5500,C22 C26,S,0
3,1,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1,2,113781,151.5500,C22 C26,S,0
4,1,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1,2,113781,151.5500,C22 C26,S,0
...,...,...,...,...,...,...,...,...,...,...,...
1304,3,"Zabour, Miss. Hileni",female,14.5000,1,0,2665,14.4542,NaN,C,0
1305,3,"Zabour, Miss. Thamine",female,NaN,1,0,2665,14.4542,NaN,C,0
1306,3,"Zakarian, Mr. Mapriededer",male,26.5000,0,0,2656,7.2250,NaN,C,0
1307,3,"Zakarian, Mr. Ortin",male,27.0000,0,0,2670,7.2250,NaN,C,0
1308,3,"Zimmerman, Mr. Leo",male,29.0000,0,0,315082,7.8750,NaN,S,0

In [ ]:
df[df['cabin'].isnull()]

,pclass,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,survived
9,1,"Artagaveytia, Mr. Ramon",male,71.0,0,0,PC 17609,49.5042,NaN,C,0
13,1,"Barber, Miss. Ellen ""Nellie""",female,26.0,0,0,19877,78.8500,NaN,S,1
15,1,"Baumann, Mr. John D",male,NaN,0,0,PC 17318,25.9250,NaN,S,0
23,1,"Bidois, Miss. Rosalie",female,42.0,0,0,PC 17757,227.5250,NaN,C,1
25,1,"Birnbaum, Mr. Jakob",male,25.0,0,0,13905,26.0000,NaN,C,0
...,...,...,...,...,...,...,...,...,...,...,...
1304,3,"Zabour, Miss. Hileni",female,14.5,1,0,2665,14.4542,NaN,C,0
1305,3,"Zabour, Miss. Thamine",female,NaN,1,0,2665,14.4542,NaN,C,0
1306,3,"Zakarian, Mr. Mapriededer",male,26.5,0,0,2656,7.2250,NaN,C,0
1307,3,"Zakarian, Mr. Ortin",male,27.0,0,0,2670,7.2250,NaN,C,0
1308,3,"Zimmerman, Mr. Leo",male,29.0,0,0,315082,7.8750,NaN,S,0

In [ ]:
df[df['age'].notnull()]

,pclass,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,survived
0,1,"Allen, Miss. Elisabeth Walton",female,29.0000,0,0,24160,211.3375,B5,S,1
1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500,C22 C26,S,1
2,1,"Allison, Miss. Helen Loraine",female,2.0000,1,2,113781,151.5500,C22 C26,S,0
3,1,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1,2,113781,151.5500,C22 C26,S,0
4,1,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1,2,113781,151.5500,C22 C26,S,0
...,...,...,...,...,...,...,...,...,...,...,...
1301,3,"Youseff, Mr. Gerious",male,45.5000,0,0,2628,7.2250,NaN,C,0
1304,3,"Zabour, Miss. Hileni",female,14.5000,1,0,2665,14.4542,NaN,C,0
1306,3,"Zakarian, Mr. Mapriededer",male,26.5000,0,0,2656,7.2250,NaN,C,0
1307,3,"Zakarian, Mr. Ortin",male,27.0000,0,0,2670,7.2250,NaN,C,0
1308,3,"Zimmerman, Mr. Leo",male,29.0000,0,0,315082,7.8750,NaN,S,0